<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SecurityDoors.BLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SecurityDoor.BL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SecurityDoors.BLL.Properties.Settings>
            <setting name="IP" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PortApi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SecretKey" serializeAs="String">
                <value>
                </value>
            </setting>
        </SecurityDoors.BLL.Properties.Settings>
        <SecurityDoor.BL.Properties.Settings>
            <setting name="IP" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PortApi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SecretKey" serializeAs="String">
                <value />
            </setting>
        </SecurityDoor.BL.Properties.Settings>
    </userSettings>
</configuration>